## List in Dictionary 
## Dictionary in List
## Dictionary in Dictionary

In [1]:
# List in a dictionary
result= {"roll": [1,2,3,4,5,6,7,8,9,10],
         "name": ["Ali", "Saad", "Umer", "Hassan", "Bilal", "Ahmed", "Faiz", "Jami", "Saad", "Waqas"],
         "Course": ["Python", "Stats", "ML", "AI", "Python", "Stats", "ML", "AI", "AI", "Python"],
         "Marks":[78,68,98,87,90,98,97,67,56,76]}

In [2]:
result

{'roll': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 'name': ['Ali',
  'Saad',
  'Umer',
  'Hassan',
  'Bilal',
  'Ahmed',
  'Faiz',
  'Jami',
  'Saad',
  'Waqas'],
 'Course': ['Python',
  'Stats',
  'ML',
  'AI',
  'Python',
  'Stats',
  'ML',
  'AI',
  'AI',
  'Python'],
 'Marks': [78, 68, 98, 87, 90, 98, 97, 67, 56, 76]}

In [3]:
result["name"][5][-1]

'd'

In [4]:
result["Marks"][2:5]

[98, 87, 90]

In [5]:
#Dictionary in dictionary
dic_in_dic= {"student_1":{"name":"Nasir", "roll": 123, "course":"python"},
             "student_2":{"name":"Yasir", "roll": 124, "course":"python"},
             "student_3":{"name":"Yasin", "roll": 125, "course":"python"}}

In [6]:
dic_in_dic["student_2"]["name"]

'Yasir'

In [7]:
dic_in_dic["student_3"]["course"]

'python'

# Tuple
- immutable
- iterable
- (v1,v2,v3)

In [8]:
#empty tuple
atuple=()
print(type(atuple))

<class 'tuple'>

In [9]:
len(atuple)

0

In [10]:
atuple[]="ALI"

SyntaxError: invalid syntax (86193253.py, line 1)

In [ ]:
btuple=(11,22,33,44,55)

In [ ]:
btuple[3]=30

In [ ]:
del btuple[3]

In [ ]:
ctuple=(23)
print(type(ctuple))

In [ ]:
ctuple= (23,)
print(type(ctuple))

# Set
- mutable
- {}
- remove repeated values

In [ ]:
aset={}
type(aset)

In [ ]:
set([1,2,3,4,5,6])

In [ ]:
tuple([1,2,3,4,5,6])

In [ ]:
aset= set([1,2,3,4,5])

In [ ]:
fruits= "mango", "banana"
fruits

In [ ]:
print("mango"), print("apple")

In [ ]:
type(fruits)

In [ ]:
aset= {1,2,3,4,4,5,6,7,6,8,9}

In [ ]:
 aset

## conditional statement/ if statement/ if clause
- if
- if else
- multiple conditions
- nested conditions

In [ ]:
tomato_price= float(input("What is the price per kg? "))
if tomato_price > 100:
    print("1 Kg dedo")
        
else:
    print("2 Kg dedo")

In [ ]:
age= float(input("Tell me your age: "))
if age > 18:
    print("Vote dal skte hen")
    print("NIC ban skta he")
    print("Driving licence")
    print("shaddi hoskti he")
    print("Account open hoskta he")
else:
    print("Tie Tie fish-----")
    print("Moye___Moye....")

In [ ]:
marks= float(input("Enter your marks: "))
if marks >=50:
    print("Pass")
else:
    print("Fail")

In [16]:
guest_list=["ali", "hassan", "rashid", "kamran", "faisal", "ahmed", "ashraf"]

In [17]:
"Ali" in guest

NameError: name 'guest' is not defined

In [18]:
guest_name=input("Please tell me your name: ").lower()
if guest_name in guest_list:
    print("You are Welcome!")
else:
    print("Your name is not in list.")

Please tell me your name: Ali
You are Welcome!

In [20]:
guest_name= input("Pls tell me your name")
if guest_name.startswith("a"):
    print("You are welcome, Pls take front seat.")
    
else:
    print("You can sit after first row.")

Pls tell me your nameabdullah
You are welcome, Pls take front seat.