# Dictionary
- {}
- {key:value} no index
- mutable
- iterable

In [1]:
# Empty dictionary 
student1={}

In [2]:
len(student1)

0

In [3]:
teacher = {"name": "Asad Ali", "tid" : 1234, "course": "Data analytics", "age" : 30.5}

In [4]:
len(teacher)

4

# Accessing dictionary data

In [5]:
teacher ["course"]

'Data analytics'

In [6]:
teacher["age"]

30.5

# Adding new value to a dictionary

In [7]:
# if the key is not already present in the dictionary , it create a new key value pair 
teacher ["email"] = "abc@gmail.com"

In [8]:
teacher

{'name': 'Asad Ali',
 'tid': 1234,
 'course': 'Data analytics',
 'age': 30.5,
 'email': 'abc@gmail.com'}

# Relacing / Updating a new value to a dictionary

In [9]:
# if the key is present already in the dictionary , it will update the value if the provided key
teacher ["email"] = "abc@yahoo.com"
teacher

{'name': 'Asad Ali',
 'tid': 1234,
 'course': 'Data analytics',
 'age': 30.5,
 'email': 'abc@yahoo.com'}

In [10]:
teacher.keys()

dict_keys(['name', 'tid', 'course', 'age', 'email'])

In [11]:
teacher.values()

dict_values(['Asad Ali', 1234, 'Data analytics', 30.5, 'abc@yahoo.com'])

In [12]:
teacher.items()

dict_items([('name', 'Asad Ali'), ('tid', 1234), ('course', 'Data analytics'), ('age', 30.5), ('email', 'abc@yahoo.com')])

In [13]:
teacher.pop()

TypeError: pop expected at least 1 argument, got 0

In [ ]:
teacher.pop("age")

In [ ]:
teacher

In [ ]:
teacher.pop("email")

In [ ]:
teacher

In [ ]:
teacher.popitem()

In [ ]:
teacher

In [ ]:
popped_list= []

In [ ]:
popped_item = teacher.popitem()
popped_list.append(popped_item)

In [ ]:
popped_list

In [ ]:
 teacher = {"name": "Asad Ali", "tid" : 1234, "course": "Data analytics", "age" : 30.5}

In [ ]:
popped_list= []

In [ ]:
popped_item = teacher.popitem()
popped_list.append(popped_item)

In [ ]:
popped_list

In [ ]:
popped_item = teacher.popitem()
popped_list.append(popped_item)

In [ ]:
popped_list

In [ ]:
popped_item = teacher.popitem()
popped_list.append(popped_item)

In [ ]:
popped_list

In [ ]:
popped_list= []
popped_item = teacher.popitem()
popped_list.append(popped_item)
popped_list

In [ ]:
teacher= {"name": "Asad", "tid": 1234, "course": "data analysis", "age": 30.5}

In [ ]:
#both are same
teacher.get("name"), teacher ["name"]

In [15]:
teacher_details= {"marital_status":"Single", "qualification":"graduate", "city":"Karachi"}

In [16]:
teacher["details"] = teacher_details

In [17]:
teacher

{'name': 'Asad Ali',
 'tid': 1234,
 'course': 'Data analytics',
 'age': 30.5,
 'email': 'abc@yahoo.com',
 'details': {'marital_status': 'Single',
  'qualification': 'graduate',
  'city': 'Karachi'}}

In [18]:
teacher.update(teacher_details)

In [19]:
teacher

{'name': 'Asad Ali',
 'tid': 1234,
 'course': 'Data analytics',
 'age': 30.5,
 'email': 'abc@yahoo.com',
 'details': {'marital_status': 'Single',
  'qualification': 'graduate',
  'city': 'Karachi'},
 'marital_status': 'Single',
 'qualification': 'graduate',
 'city': 'Karachi'}

In [20]:
teacher.pop("details")

{'marital_status': 'Single', 'qualification': 'graduate', 'city': 'Karachi'}

In [21]:
teacher

{'name': 'Asad Ali',
 'tid': 1234,
 'course': 'Data analytics',
 'age': 30.5,
 'email': 'abc@yahoo.com',
 'marital_status': 'Single',
 'qualification': 'graduate',
 'city': 'Karachi'}